/*-- scss:defaults --*/
// Base document colors
$body-bg: #FFFFFF;
//$body-color: #ccc;
$link-color: #742082;
$headings-color: #742082;
$font-family: 'Open Sans';
$font-family-monospace: "Courier New";