p.caption {
  color: #742082;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

#.quarto-title-block .quarto-title-banner {
#  background-image: url("pics/UKDS_Logos_Col_Grey_300dpi.png");
#  background-size: 100px;
#  background-position: left;
#  background-repeat: no-repeat;
#  padding-left: 30px;
#  padding-bottom: 10px;
#  background-origin: content-box;
#}

.cell {
  margin-top: 30px;
  margin-bottom: 30px;
}

title {
  color: #742082;
}
h1 {
  color: #742082;
}
h2 {
  color: #742082;
}
h3 {
  color: #742082;
}
h4 {
  color: #742082;
}


.navbar{
   background-color:#FFFFFF;
}
