.quarto-title-block .quarto-title-banner {
#  background-size: 90%;
  background-position: center top;
  background-repeat: no-repeat;
#  padding-left: 200px;
  padding-
  padding-top: 10px;
  background-origin: content-box;
#  background-image: url("pics/UKDS_Logos_Col_Grey_300dpi.png");
#  text-align: center;
}

#.cell {
#  margin-top: 0px;
#  margin-bottom: 30px;
#}

title {
  color: #742082;
}
h1 {
  color: #742082;
}
h2 {
  color: #742082;
}
h3 {
  color: #742082;
}
h4 {
  color: #742082;
}